body{
    background-color: aqua;
    color: black;
}

span{
    font-size: 30px;
}

.heading{
    font-size: 20px;
    border-radius: 10px;
    letter-spacing: 10px;
}

.emotion_name{
    font-size: 40px;
}

.emoji{
    font-size: 50px;
}

label{
    font-size: 15px;
    color: blue;
    border-radius: 10px;
    background-color: white;
    padding: 6px ;
}

#camera, #result{
width: 350px;
height: 300px;
    border: 2px dashed black;
}

#gesture{
    background-color: brown;
}



